.navbar-brand {
  font-family: "Playfair Display", "Helvetica", "sans-serif";
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), var(--image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 350px 0 0;
  h1 {
    color: white;
    line-height: 62px;
    font-size: 5rem;
    margin: 0;
  }
}

.card {
  .delete-bookmark {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  strong {
    color: black;
  }
  .fa-star {
    color: yellow;
  }
  .card-img-top {
    max-width: 100%;
    height: 100%;
  }
}

.card.index {
  padding: 120px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h2 a {
    color: white;
  }
}

@include media-breakpoint-down(sm) {
  .banner {
    h1 {
      line-height: 50px;
      font-size: 4rem;
    }
  }
}
